* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: brown;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
p {
  color: bisque;
}
.boxes {
  height: 100%;
  display: flex;
  /* display: inline; */
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
}
.icon {
  background-color: white;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
.fa-brands {
  font-size: 50px;
}
.icon:hover {
  transform: rotate(360deg);
  border-radius: 50%;  
}
